{% extends 'common.html.twig' %}

{% block content %}

    <!-- Main jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <h1>{{ services['request'].get('flash-message', 'Good dog!') }}</h1>

            <p>Puppy is micro-framework build in PHP.<br>It runs for you with happiness and creates static websites
                using <a href="http://twig.sensiolabs.org/">Twig templates</a>!</p>

            <p><a class="btn btn-primary btn-lg" href="https://github.com/Raphhh/puppy" role="button">Learn
                    more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Config</h2>
                <ul>
                    {% for key, var in services['config'] %}
                        <li>{{ key }}: {{ var }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Routes</h2>
                <ul>
                    {% for route in services['router'].getRoutes() %}
                        <li>{{ route }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <h2>Services</h2>
                <ul>
                    {% for name in services.keys() %}
                        <li>{{ name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr>

        <footer>

        </footer>
    </div> <!-- /container -->

{% endblock %}
